USE [QTCSDL]
GO
/****** Object:  Table [dbo].[diep]    Script Date: 4/12/2026 10:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diep](
	[masv] [nvarchar](50) NOT NULL,
	[hotensv] [nvarchar](50) NOT NULL,
	[malop] [nvarchar](50) NULL,
	[ngaysinh] [nvarchar](50) NULL,
	[noisinh] [nvarchar](50) NULL,
	[diachi] [nvarchar](100) NULL,
 CONSTRAINT [PK_diep] PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaoHoa]    Script Date: 4/12/2026 10:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaoHoa](
	[masv] [nvarchar](50) NOT NULL,
	[hotensv] [nvarchar](50) NOT NULL,
	[malop] [nvarchar](50) NULL,
	[ngaysinh] [nvarchar](50) NULL,
	[noisinh] [nvarchar](50) NULL,
	[diachi] [nvarchar](100) NULL
) ON [PRIMARY]
GO
